.ipt{
    background-color: #FFF;
    height: 0.3rem;
    width: 2.80rem;
    float: left;
    border-radius: 6px;
    margin-right: 0.5rem;
    color: #666;
    font-size: 0.14rem;
    padding-left: 0.4rem;
    box-sizing: border-box;
    margin-left: 0.1rem;
    flex: inherit;
}
.q-log{
    width: 0.2rem;
    height: 0.2rem;
    position: absolute;
    top:0.05rem;
    left: 0.22rem;
}
.flex{
   display: flex;
    align-content: center;
    position: relative;
}
.id-box{
    margin-top: 0.2rem;
    margin-bottom: 0.1rem;
}
.p-title{
    padding-top: 0.12rem;
    padding-bottom: 0.06rem;
    padding-left: 0.15rem;
    padding-right: 0.15rem;
    color: #999999;
    font-size: 0.16rem;
    display: block;
}
.t-box{
    width: 50%;
    padding: 0.15rem;
    float: left;
    box-sizing:border-box;
}
.t{
    padding: 0.1rem;
    box-shadow:0 0 0.08rem rgba(2,2,2,0.3);
    box-sizing:border-box;
    border-radius:6px;
    text-align: center;
}
.t-img{
    width: 100%;
    height: auto;
}